@import "scss/mixin.scss";
.export-button{
  width: 100%;
  @include justify-row-around;
  button{
    background: #1CA1C1;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
    padding:10px;
    cursor: pointer;
  }
}
