@import 'scss/mixin.scss';

.mg-rules-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  .loader {
    position: absolute;
    top: 50%;
    left: 70%;
  }

  .mg-rules-actions {
    margin-left: 10px;
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: #ddd;
  }

  .mg-rule-content {
    margin-top: 30px;
    overflow: auto;
    height: calc(100% - 30px);
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .products_empty_body {
      margin: auto;
    }
  }

  .mg-switch-control {
    justify-content: flex-end;
  }
  .virtual-rule-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .rule-section-header {
      font-size: 30px;
      ;line-height: 60px;
    }
  }
}
