@import "scss/mixin.scss";

.preview-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 120px);

  .preview-type {
    float: right;
    margin: 15px 30px 15px auto;
  }

  .preview-content {
    height: 100%;
    padding: 0 15px;
  }
  .loader {
    position: absolute;
    top: 50%;
    left: 65%;
  }
}
