@import 'scss/mixin.scss';
.mg-rules-container{
  width: 100%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  .mg-rules-actions{
    margin-left: 10px;
  }
  .divider {
    width: 100%;
    height: 1px;
    background-color: #ddd;
  }
  .mg-rule-content{
    margin-top: 30px;
    overflow: auto;
    height:calc(100% - 30px);
    width: 100%;
    padding: 10px;
  }
}
