@import 'scss/mixin.scss';
.mg-rules-container{
  width: 100%;
  display: flex;
  justify-content: center;
  .mg-rule-content{
    margin-top: 30px;
    overflow: auto;
    min-height: 200px;
    height: fit-content;
  }
}
