.mg-display-control {
  border-width: 0;
  font-weight: 500;
  letter-spacing: 0.2px;
  outline: none;

  .mg-display-label {
    padding: 3px 2px 0;
    display: block;
    font-size: 14px;
    line-height: 19px;
    outline: none;

    &.inline {
      padding: 0 8px 0 0;
      line-height: 32px;

      &.right {
        text-align: right;
      }
    }
  }

  .mg-display-wrapper {
    height: auto;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    outline: none;
    position: relative;
    .mg-display-image {
      width: fit-content;
      background-color: black;
      img {
        width: 200px;
        &:hover {
          opacity: 0.6;
        }
      }
      .mg-display-tooltip-section {
        justify-content: space-between;
        align-items: center;
        background-color: white;
        opacity: 0.9;
        padding: 3px 0;
        height: fit-content;
        position: absolute;
        top: 80%;
        width: 200px;
        display: none;
        .mg-display-image-edit {
          width: 32px;
          height: 32px;
          border: none;
          background-color: #fff;
          box-shadow: 0 8px 12px rgba(0,0,0,0.25);
        }
      }
      &:hover {
        .mg-display-tooltip-section {
          display: flex;
        }
        img {
          opacity: 0.6;
        }
      }
    }
    .mg-display-name {
      font-size: 16px;
      margin-right: 10px;
    }
    .mg-display {
      width: unset;
      height: 100%;
      padding: 0 12px;
      flex: 1;
      background: #ffffff;
      border: 1px solid #CCD7E6;
      border-radius: 2px;
      font-size: 14px;
      color: #475466;
      -webkit-appearance: none;
      outline: none;
      box-sizing: border-box;

      &:focus {
        border-color: #1CA1C1;
      }
    }
  }

  .mg-display-hint {
    margin-left: 3px;
    font-size: 12px;
    font-weight: 400;
    color: #516075;
    outline: none;
  }
}
