.context-menu-container{
    position: absolute;
    width: fit-content;
    height: fit-content;
    background: white;
    padding: 10px;
    border: 1px solid #8e8e8e;
    box-shadow: 3px 3px 3px 0 #5e5e5e ;
}
