@import "scss/mixin.scss";
#hot-display-license-info{
  display: none;
}
#hot-app{
  @include full_width_height;
}
.loader{
  position: absolute;
  top:50%;
  left:35%;
}
.pagination {
  @include justify-center;
  list-style: none;
  padding-left: 15px;
  padding-right: 15px;
}
.pagination li {
  @include justify-center;
  margin-left: 5px;
  border: 1px solid #83bef9;
  border-radius: 18px;
  min-width: 73px;
  min-height: 34px;
  cursor: pointer;
}
.pagination .active{
  background: #CCD7E6;
  cursor: pointer;
}
.fragPageInfo{
  width:100%;
  @include justify-row-between;
  align-items: center;
}
