@import "scss/mixin.scss";

.mg-properties-container {
  @include full_width_height;
  width: calc(100% - 10px);
  margin: 0;
  white-space: nowrap;

  .mg-properties-content {
    flex: 1;

    .mg-select-section {
      @include justify-row-between;
      height: fit-content;
    }

    .scrollbar-container {
      height: 100%;
      padding-bottom: 49px;
      > .mg-rule-group {
        padding: 0 !important;
        border-left: 0 !important;
      }

      .icon-button {
        margin-left: 10px;
      }
      .mg-section-control {
        > div:not(:first-child) {
          margin-top: 0.5rem;
        }
      }
    }
    .attribute-section {
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;

      .attribute-item {
        width: 50%;

        .group {
          .custom-check-container {
            font-size: 18px;
            font-weight: bolder;
            padding: 0 10px;
            border-bottom: solid 1px black;
            margin: 0 !important;
            label {
              margin-left: 10px;
            }
          }
        }
        .custom-check-container {
          margin: 10px 20px;
        }
      }
    }
  }

  .mg-property-actions {
    width: 49px;
    padding: 10px;
    border-left: 1px solid #ddd;

    > * {
      &:not(:first-child) {
        margin-top: 0.5rem;
      }
    }

    .divider {
      width: 100%;
      height: 1px;
      background-color: #ddd;
    }
  }
}

.mg-edit-properties-content {
  width: 800px;

  .MuiPaper-root {
    box-shadow: none;

    .MuiToolbar-root {
      padding: 0;
    }

    .MuiTableFooter-root {
      .MuiTableCell-root {
        border-bottom: 0;
      }
    }
  }
}

.mg-edit-properties-content.field {
  width: 90vw !important;
}

.MuiDialog-container {
  .mg-select-container {
    width: 100% !important;
  }
}

.add-property-fields {
  .mg-upload-control .mg-upload-wrapper {
    width: 50%;
  }
  .mg-select-wrapper {
    label {
      min-width: 220px !important;
    }
  }
}

.add-section-container {
  .add-section-action {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    button {
      margin-left: 10px;
    }
  }
}

.add-selectItem-action {
  display: flex;
  width: 100%;
  padding: 0 10px;
  justify-content: space-between;
}
