@import "scss/mixin.scss";
.preview-content-wrapper {
  @include full_width_height;
  margin: 0;
  white-space: nowrap;
}

.scrollbar-container {
  height: 100%;
  padding-bottom: 49px;
  > .mg-rule-group {
    padding: 0 !important;
    border-left: 0 !important;
  }

  .icon-button {
    margin-left: 10px;
  }
}
