.mg-upload-control {
  border-width: 0;
  font-weight: 500;
  letter-spacing: 0.2px;
  outline: none;
  display: flex;
  justify-content: space-between;

.mg-upload-label {
    padding: 3px 2px 0;
    display: block;
    font-size: 14px;
    line-height: 19px;
    outline: none;

    &.inline {
      padding: 0 8px 0 0;
      line-height: 32px;

      &.right {
        text-align: right;
      }
    }
  }

  .mg-upload-wrapper {
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    box-sizing: border-box;
    outline: none;

    .mg-input-control {
      width: 100%;
    }
    .mg-input {
      margin-bottom: 10px;
      width: 60%;
      height: 100%;
      padding: 0 12px;
      flex: 1;
      background: #ffffff;
      border: 1px solid #CCD7E6;
      border-radius: 2px;
      font-size: 14px;
      color: #475466;
      -webkit-appearance: none;
      outline: none;
      box-sizing: border-box;

      &:focus {
        border-color: #1CA1C1;
      }
    }
    .filepond--wrapper {
      width: 100%;
      margin-top: 10px;
    }
  }

  .mg-upload-hint {
    margin-left: 3px;
    font-size: 12px;
    font-weight: 400;
    color: #516075;
    outline: none;
  }
}
