.mg-detail-table {
  height: 100%;

  .MuiPaper-root {
    box-shadow: none;

    .MuiToolbar-root {
      padding: 0;
    }

    .MuiTableCell-head {
      font-size: 1rem;
      color: #1CA1C1;
    }

    .MuiTableCell-root {
      &:not(:first-child) {
        border-left: 1px solid #ddd;
      }
    }

    .MuiTableFooter-root {
      .MuiTableCell-root {
        border-bottom: 0;
      }
    }
  }
}
