@import "scss/mixin.scss";

.mg-attr-setting-container {
  @include full_width_height;
  margin: 0;
  white-space: nowrap;
  height: 100vh;
  overflow-y: auto;

  .scrollbar-container{
    width: 95%;
  }

  .mg-section-control {
    width: 100%;

    .mg-input-control {
      margin-top: 2%;
      width: 50%;
    }

    .mg-setting-section {
      @include full_width_height;
      display: flex;
      margin-top: 2%;

      .icon-button {
        margin-left: 10px;
      }

      .mg-select-container {
        width: 50%;
      }
    }
  }

  .mg-attributes-actions {
    width: 49px;
    padding: 0.5rem;
    border-left: 1px solid #ddd;

    > * {
      &:not(:first-child) {
        margin-top: 0.5rem;
      }
    }

    .divider {
      width: 100%;
      height: 1px;
      background-color: #ddd;
    }
  }
}
