.add-property-fields__container {
  width: 100%;
  display: flex;
  .add-property-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__body {
      font-size: 30px;
    }
    &__action {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      button {
        margin-left: 10px;
      }
    }
  }
}
