@import "scss/mixin.scss";

.export-button {
  width: 100%;
  @include justify-row-around;

  button {
    padding: 10px;
    background: #1CA1C1;
    border: none;
    border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
  }
}
