@import '../../../scss/mixin';

.show-filed-container {
  width: 100%;
  @include justify-row-around;

  .show-field-item {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}
