.mg-rules-container {
  width: 100%;
  height: 100%;
  margin: 0;
  white-space: nowrap;

  .mg-rule-content {
    padding: 1rem;
    flex: 1;

    .scrollbar-container {
      height: 100%;

      > .mg-rule-group {
        padding: 0 !important;
        border-left: 0 !important;
      }
    }
  }

  .mg-rule-actions {
    width: 49px;
    padding: 0.5rem;
    border-left: 1px solid #ddd;

    > * {
      &:not(:first-child) {
        margin-top: 0.5rem;
      }
    }
  }
}

.mg-edit-rule-content {
  width: 700px;

  .MuiPaper-root {
    box-shadow: none;

    .MuiToolbar-root {
      padding: 0;
    }

    .MuiTableFooter-root {
      .MuiTableCell-root {
        border-bottom: 0;
      }
    }
  }
}
